*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    font-size: 20px;
}

.logo{
    width: 100px;
}

.menu{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.text-content{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 50px;
}

.text-content > p{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
}

h1{
    font-size: 50px;
}

button{
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
}

#apri-browser{
    background-color: black;
    color: white;
}

.download::before, .download-button::before{
    content: '\2193';
}

.info{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 80px;
    font-size: 30px;
}

.bg-wave{
    background-color: #F6F6F6;
}

.immagine, .text{
    flex-basis: 45%;
    margin-bottom: 40px;
}

.order-2{
    order: -1;
}

.tech{
    font-size: 30px;
}

.tech > *{
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
    padding-top: 100px;
}

.tecnologia{
    text-align: center;
}

.download{
    background-color: lightblue;
    color: white;
}

h3{
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: contain;
}

footer{
    background-color: #24272A;
}

.columns{
    display: flex;
    width: 80%;
    margin: auto;
    height: 600px;
    justify-content: space-between;
}

.col{
    width: calc(100%/5);
}

.col-1{
    width: 500px;
}

.piè{
    border-top: 1px solid lightblue;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.piè > *{
    height: 100px;
    width: 200px;
    background-color: maroon;
}

