*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    font-size: 20px;
}

.logo{
    width: 100px;
}

.menu{
    width: 500px;
    display: flex;
    justify-content: space-between;
}



/* Main */
.text-content{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 50px;
}

.text-content > p{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
}

h1{
    font-size: 50px;
    font: bold;
}

button{
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
}

#apri-browser{
    background-color: black;
    color: white;
}

.download::before, .download-button::before{
    content: '\2193';
}

.info{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 80px;
    font-size: 30px;
}

.bg-lg{
    background-image: url(../img/wave.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* background-image: url(../img/wave.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

.immagine, .text{
    flex-basis: 45%;
    margin-bottom: 40px;
}

.order-2{
    order: -1;
}

.tech > *{
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
    padding-top: 100px;
    font-size: 30px;
}

.tecnologia{
    text-align: center;
}

.download, .registrati{
    background-color: lightblue;
    color: white;
}

#adventure{
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: contain;
}


/* Footer */
footer{
    background-color: #24272A;
}

.columns{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding-top: 80px;
}

.col{
    width: calc(100%/5);
}

.ft-h2, .ft-h3{
    color: violet;
    font-size: 25px;
}

h2, h3{
    padding-bottom: 30px;
}

.col-1{
    width: 400px;
}

.italia{
    height: 1rem;
}

#lingua::after{
    content: '\2228';
}

#lingua{
    color: white;
    padding: 0 10px;
}

i{
    padding-right: 20px;
    padding-top: 20px;
}

.col > div{
    color: white;
    font-size: 20px;
    line-height: 2;
}

.piè{
    border-top: 1px solid lightblue;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

